#root {
  text-align: center;
  background-image: url("/public/bg-01.webp") !important;
  width: 100vw;
  height: 100vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.gridlog{
  height: 100%;
}

.log {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22) !important;
}

.left-grid {
  align-items: center !important;
  justify-content: center;
  align-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
}
.right-grid{
  width: 70%;
  height: 100%;
  padding-top: 4rem;
  padding-bottom: 5rem;
  text-align: left;
  align-items: center;
}
button {
  margin-top: 3rem !important;
  padding: 1rem 2rem !important;
}
.MuiFormControl-root {
  margin-top: 2rem !important;
}

.MuiInputLabel-formControl {
  font-size: 1.1rem !important;
  margin-left: -1rem !important;
}
.MuiInputLabel-formControl svg {
  height: 1.2rem !important;
  vertical-align: text-top;
  fill: black !important;
}
.heading{
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 1rem;
  padding: 0;
}

.company {
  font-size: 3rem !important;
  color: purple;
  padding-top: 1rem;
  margin-bottom: -0.5rem;
}
.msg {
  padding-top: 0;
  font-size: 1.5rem;
}

.container {
  display: flex;
  flex-wrap: wrap;

}




@media (min-width: 600px) {
  .mainLog {
    width: 70vw;
    min-height: 80vh;
    padding-top: 10vh;
    padding-bottom: 10vh;
  }
  .log {
  height: 80vh;
  width: 100%;
  }
}






@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
